
.idea
data/BSs
data/users
Figures
venv
__pycache__
objects/__pycache__
data/BSfailures
data/Realisations
converted_data
data/Regions
data/gemeente_2020_v3.dbf
data/gemeente_2020_v3.prj
data/gemeente_2020_v3.sbn
data/gemeente_2020_v3.sbx
data/gemeente_2020_v3.shp
data/gemeente_2020_v3.shx
data/cbs_vk500_2020_v2.gpkg
*.odp
